<br><br><br>

<div>
    <h1>Meet Our Team<br>Our Team Of Dedicated Attorneys Serving The Capitol</h1>
</div>

<br><br>


<% @lawyers.each do |lawyer| %>
    <h2><%= link_to lawyer.name, lawyer_path(lawyer) %></h2><br><br>
<% end %>


