<div class="ui form error">
    <div class="field">
        <% if object.errors %>
            <% object.errors.full_messages.each do |message| %>
                <div class="ui error message">
                    <%= message %>
                </div>
            <% end %>
        <% end %>
    </div>
</div>
