<div class="header">
    <h1 id="main-page-title">LAWFUL4U</h1>
</div>

<div class="intro">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores porro nobis eaque ab nihil, odit incidunt aspernatur
    nemo iusto praesentium nulla sunt dolorem dolore debitis corporis mollitia harum deserunt! Sunt.<br>

    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo temporibus mollitia optio, facere repellat cumque. Commodi
    qui odio iure, error officiis harum quia incidunt facere voluptas! Eum magnam voluptatum aperiam.</p>
</div>
