<div class="header">
    <h1 id="main-page-title">J.Euler International</h1>
</div>

<div class="intro">
    <p>Our History: J.Euler International became a top 10 global legal services provider on 27 May 2014 through an unprecedented
     combination of two firms with international credentials, U.S.-based firm J.Goldstein Law firm and European-based firm Euler.
      Modern-day J.Euler carries on the tradition of excellence established by our founders and further builds on their legacy.
    </p>
</div>
