<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>User</title>
  </head>
  <body>
    <%# <h1><center>Welcome User!</center></h1> %>

    <% if session[:id] %>
        <div><strong>Welcome <%= get_current_user.email %></strong></div>
        <%= link_to "Logout", "/logout", method: "DELETE" %>



        <% else %>
        <%= link_to "Login", login_path %>
    <% end %>


    <%= yield %>
  </body>
</html>
